body {
    display: grid;
    justify-content:  center;
    align-items: center;   
    background-color: black;
}

.contenedor {
    position: relative;
    margin-top: 0px;
    

}

.pieza {
    cursor: pointer;
    
}

.contorno {
    border: 2px dashed #666666;
    position: absolute;
}

#verificarBtn {
    
    padding: 10px;
    cursor: pointer;
    position: absolute;
}

#texto{
    position: absolute;
    
}

button {
font-size: 16px;
font-weight: bold;
color: #fff;
background-color: #4caf50;
border: none;
padding: 15px 20px;
border-radius: 10px;
cursor: pointer;
transition: background-color 0.3s ease;
}